.mainComponentHomePage {
    padding: 0px;
    margin: 0px;
}

.leftSideComponentHomePage {
    position: fixed;
    top: 0;
    left: 0;
    width: 17%;
    height: 100%;
    background-color: royalblue;
    color: white;
}

.rightSideComponentHomePage {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 83%;
}

.rightSideTopComponentHomePage {
    position: relative;
    text-align: right;
    top: 0;
    height: 250px;
    background-image: url('./images/vecteezy_illustration-of-a-beautiful-girl-with-glasses-and-long-wavy_20528156.jpg');
    background-size: 100% 170%;
    background-color: white;
    margin-bottom: 30px;
}

.textHeaderOne {
    color: white;
    font-family: sans-serif;
    font-weight: 700;
    font-size: 40px;
    margin-bottom: 0px;
    padding-top: 70px;
    padding-right: 20px;
    font-style: bold;
}

.textHeaderTwo {
    color: white;
    font-weight: 400;
    font-family: sans-serif;
    font-size: 25px;
    margin-top: 0px;
    padding-right: 20px;
}

.textHeaderTwo .bi-sun-fill {
    color: orange;
}

.textHeaderTwo .bi-moon-fill {
    color: gray;
}

/* NavBar CSS For Desktop Site */
.navbarContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-left: 20px;
}

.navbarContainer ul {
    list-style: none;

}

.navbarContainer ul li {
    font-size: 22px;
    padding-bottom: 45px;
}

.linkstyle {
    text-decoration: none;
    color: white;
}

.navbarContainer ul li:hover {
    font-size: 30px;
    transition: 0.3s;
}

.navbarContainer ul li .bi {
    padding-right: 10px;
}
.songCard {
    padding: 15px;
}

.songCard:hover {
    padding-top: 30px;
    transition: 0.3s;
}

.songCardName {
    color: gray;
    text-align: center;
    padding-top: 5px;
    font-family: serif;
}
.songCardViewRow {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    padding-right: 15px;
}
.songByListContainer {
    padding-top: 20px;
    padding-bottom: 20px;
}
.songCardViewRow::-webkit-scrollbar {
    display: none;
  }
  

.songCard img {
    width: 150px;
    border-radius: 25px;
}

.songCard p {
    font-style: normal;
    font-family: sans-serif;
    color: black;
}

.headingSongsContainer {
    font-weight: 500;
    font-size: 18px;
    color: rgb(182, 182, 182);
    padding-left: 15px;
    text-transform: uppercase;
}

.headingBlock {
    width: 100%;
    display: inline-block;
}
.headingSongsContainer {
    padding: 10px 10px;
    width: 15%;
    padding-left: 33px;
}
.hrHeading {
    width: 85%;
    padding-top: 3px;
}
.shivam {
    border: 2px solid rgb(182, 182, 182);
    border-radius: 2px;
}